.App {
  text-align: center;
}

.user-list {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: left;
}

.user-list h1 {
  color: #333;
  text-align: center;
  font-size: 40px;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.user-list h2 {
  margin: 0;
  font-size: 1.2em;
  color: #000;
  text-decoration: none;
}

.user-list p {
  margin: 5px 0;
  color: #000;
  text-decoration: none;
}

.user-link {
  text-decoration: none;
  color: inherit; 
}

.user-detail {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: left;
}

.user-detail h1 {
  color: #333;
}

.user-detail p {
  margin: 5px 0;
  font-size: 1.1em;
}
